

 <html>
    <head>
        <link rel="stylesheet" type="text/css" href="../static/main.css">
        <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
    </head>
    <body>
        <div class="container">
            {{song}} is in: {{raga}}<br> <br>
            <form method="get">
                <input type="submit" value="New Song" >
            </form> <br> <br>
            <form action="{{ url_for('playaudio', aro=aro) }}" method="get">
                <input type="submit" value="Play Scale" name="scale">
            </form>
         </div>
    </body>
</html>