<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../static/main.css">
        <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
    </head>
    <body>
        
        <div class="container">
            <div class="topnav">
                <a class="active" href="/">home</a>
                <a href="/about">about</a>
              </div>
            <h1>type a song to determine what melakarta raga it is closest to!</h1>
            <form method="POST">
                <input name="text">
                <input type="submit">
            </form>
            </div>
    </body>
</html>
